click==8.0.1
multithread-parallel-processing==1.0.0
psycopg2-binary
python-dotenv==0.19.2
python-cli-scheduler
pymongo==4.3.3
pytz
SQLAlchemy==1.4.52
pandas
python-dotenv
seaborn~=0.13.2
plotly~=5.21.0